<!-- Блок хедер для страниц блога -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <h2 class="header__title"><span class="header__title-first">Оксана</span> <br><span class="header__title-second">Черкашина</span></h2>
      <div class="header__img"><img src="../img/header-img.jpg" alt="Фото Оксана Черкашина"></div>
      <!-- /.header__img -->

      <p class="header__descr">Я педагог дополнительного образования в доме творчества и организатор региональных соревнований по робототехнике <a class="header__link link" href="http://xn--90acgda4cbjegs2i.xn--p1ai/" target="_blank">Роботы
          вперед!</a></p>

      <div class="links">
        <a class="link" href="../index.html">На главную</a>
      </div>
    </div>
    <!-- /.header__content -->

    <div class="icon">
      <div class="icon__link">
        <a href="#" class="link"><img class="icon__img" src="../img/icons/vk.png" alt="логотип вконтакте"></a></div>
      <!-- /.icons__link -->
      <!-- <div class="icon__link">
        <a href="#" class="link"><img class="icon__img" src="./img/icons/slack.png" alt="логотип slack"></a>
      </div> -->
      <!-- /.icons__link -->
    </div>
  </div>
  <!-- /.container -->

</header>