*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-stackAdd;
  font-weight: normal;
  background-color: $color-background;
  color: $color-text;
}

.header-hidden {
  position: absolute;
  top: -100px;
  visibility: hidden;
  text-align: center;
  background-color: $color-background;
}

.link {
  text-decoration: none;
  color: $color-text-link;
  transition: 1s;

  &:hover {
    color: $darken-link-hover;
  }

  &-none {
    display: none;
  }
}