@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    margin-left: 8px;
  }

  .card__img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #grid {
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 360px;
    grid-template-columns: 100vw;
  }

  .header {
    max-height: 330px;
    height: 100%;

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__title {
      margin-bottom: 0;
      font-size: 1.8rem;

      &-first,
      &-second {
        margin-left: 0;
      }
    }

    &__img {
      width: 100px;
      height: 100px;
      margin-right: 16px;
      order: -1;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .main {
    margin: 0 auto;
    padding: 0 8px;
  }

  .card__img {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .footer {
    margin-bottom: 8px;
  }

  .card__img {
    display: none;
  }

  .archiv {
    margin-bottom: 8px;
    padding: 8px 16px;
    text-align: center;

    &__link {
      margin-right: 0;
    }
  }

  .slick-carousel {
    display: none;
  }

  .about__img {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .card {
    margin-bottom: 32px;

    &__carousel {
      display: none;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }
}
@media screen and (max-width: 375px) {
  .card-footer {
    flex-direction: column;

    .link:first-child {
      margin-bottom: 16px;
    }
  }

  .footer-content {
    flex-direction: column;
    line-height: 2;
    text-align: center;
  }

  .error__header {
    margin: 64px auto 42px;
  }
}