// Переменные цвета
$color-background: #fafafa;
$color-card: #fdfdfd;
$color-textDark: #7b899a;
$color-text: #8d9cae;
$color-textTitle: #a3afbe; //
// Переменные шрифты
$font-stack: sans-serif;
$font-stackAdd: 'Roboto Regular', sans-serif;