.footer {
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // margin: 16px;
    height: 80px;
    line-height: 80px;
  }

  &__copy {
    display: inline-block;
  }

  &-icons {
    &__img {
      margin: 0 4px;
      transform: translateY(25%);
    }
  }
}