.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1rem;
  background: linear-gradient(90deg, $bgc-sidebar1 0%, $bgc-sidebar2 100%);

  &-content {
    margin-top: 30px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: $font-title;
    text-align: center;
    color: $color-text;

    &-first {
      margin-left: -100px;
      text-transform: uppercase;
      font-weight: normal;
    }

    &-second {
      margin-left: 50px;
      font-weight: normal;
    }
  }

  &__img {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    background-color: inherit;
    background-image: url("../img/header-img.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }

  .links {
    text-align: right;
  }
}

.icon {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid $color-background;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    vertical-align: middle;
  }
}