.error {
  &__header {
    text-align: center;
    font-size: 9rem;
    color: $color-text404;
    margin: 124px auto 84px;
  }

  &__content {
    text-align: right;
    padding-right: 3rem;
    margin-bottom: 42px;
  }

  &__title {
    text-align: center;
    margin-bottom: 42px;
  }

  &__link {
    text-align: right;
    padding-right: 2rem;
  }
}

#error {
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}