.main {
  padding-top: 2em;
  padding-left: 1em;

  &-title {
    color: $color-textDark;
    font-size: 36px;
    margin-bottom: 1em;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-card;
  max-width: 680px;
  width: 100%;
  padding: 0 16px;
  margin-right: 16px;
  margin-bottom: 67px;

  &:nth-child(even) {
    margin-right: 0;
  }

  &-header {
    font-family: $font-title;
    font-size: 14px;
    color: $color-textTitle;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &-body {
    margin-bottom: 16px;

    &__title {
      color: $color-textDark;
      margin-bottom: 12px;
      text-align: center;
    }

    &__descr {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
    }

    &__text {
      align-self: center;
      line-height: 1.3;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    &__link--youtube {
      position: relative;
      padding-right: 32px;

      &::after {
        content: url("../img/icons/youtube.png");
        position: absolute;
        right: 0;
        top: -2px;
        display: block;
      }
    }
  }

  &__img {
    margin-right: 12px;
  }

  &__carousel {
    margin-bottom: 16px;
  }
}