.main {
  padding-top: 2em;
  padding-left: 1em;
  margin: 0 32px;

  &-title {
    color: $color-textDark;
    font-size: 2.2rem;
    margin-bottom: 1em;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-card;
  max-width: 680px;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 64px;

  &-header {
    font-size: 0.9rem;
    color: $color-textTitle;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &-body {
    margin-bottom: 16px;

    &__title {
      color: $color-textDark;
      margin-bottom: 12px;
      text-align: center;
      font-weight: normal;
    }

    &__descr {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;

      &--column {
        flex-direction: column;
      }
    }

    &__text {
      align-self: center;
      line-height: 1.4;
      font-size: 1rem;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    &__link {
      display: inline-block;
    }

    &__link--youtube {
      position: relative;
      padding-right: 32px;

      &::after {
        content: url("../img/icons/youtube.png");
        position: absolute;
        right: 0;
        top: -2px;
        display: block;
      }
    }
  }

  &__img {
    margin-right: 12px;
  }

  &__carousel {
    margin-bottom: 16px;
  }
}

#about {
  .card__img {
    margin-bottom: 16px;
  }
}

.archiv {
  text-align: right;
  margin-bottom: 16px;

  &__link {
    padding: 10px 20px;
    margin-right: 32px;
    display: inline-block;
    background-color: lighten($color-text404, 10%);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: lighten($color-text404, 5%);
    }
  }
}