.slick-carousel {
  position: relative;
  width: 230px;
  margin: 0 auto;

  &--card {
    width: 320px;
  }
}

.slick-slide {
  width: 400px;
}

.slick-next,
.slick-prev {
  cursor: pointer;
}

.slick-next::before,
.slick-prev::before {
  color: $color-text;
}