<meta name="og:title" content="Черкашина Оксана. Роботрон 2018" />
<meta name="og:description" content="Блог Оксаны Черкашиной. О том как мы побывали на соревнованиях Роботрон-2018." />
<meta name="og:type" content="article" />

<meta name="description" Content="Блог Оксаны Черкашиной. О том как мы побывали на соревнованиях Роботрон-2018." />
<meta name="Keywords" content="Черкашина Оксана, Сланцевский ДТ, город Сланцы, Роботрон-2018" />
<meta property="og:image" content="https://okbur.ru/img/meta-img-robotron.jpg" />