<meta property="og:title" content="Блог Оксаны Черкашиной. Мы на Роботроне-2018." />
<meta property="og:description"
  content="21 апреля 2018 года в городе Пушкин прошел V открытый фестиваль по робототехнике «Роботрон». На фестивале можно было принять участие в разных видах соревнований. Обучающиеся МУДО «Сланцевский ЦИТ» участвовали в категории «Интеллектуальное сумо 15х15» и «Свободная творческая»." />
<meta property="og:url" content="https://okbur.ru/blog/robotron2018-blog.html" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content="https://okbur.ru/img/og-robotron.jpg" />
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">
<meta property="og:image" content="https://okbur.ru/img/og-robotron-mini.jpg" />
<meta property="og:image:width" content="150">
<meta property="og:image:height" content="83">
<meta property="vk:image" content="https://okbur.ru/img/vk-robotronk.jpg" />

<!-- Микроразметка Schema.org -->
<meta itemprop="name" content="okbur.ru" />
<meta itemprop="description" content="21 апреля 2018 года в городе Пушкин прошел V открытый фестиваль по робототехнике «Роботрон». Обучающиеся МУДО «Сланцевский ЦИТ» участвовали в категории «Интеллектуальное сумо 15х15» и «Свободная творческая»." />
<meta itemprop="image" content="https://okbur.ru/img/og-robotron.jpg" />


<meta name="description" Content="21 апреля 2018 года в городе Пушкин прошел V открытый фестиваль по робототехнике «Роботрон». Обучающиеся МУДО «Сланцевский ЦИТ» участвовали в категории «Интеллектуальное сумо 15х15» и «Свободная творческая»." />