Options +FollowSymLinks
RewriteEngine On

# кодировка UTF-8 для файлов
AddDefaultCharset UTF-8

# Отсутсвует страница
ErrorDocument 404 /404.html

# Редирект домена с WWW на домен без WWW
RewriteCond %{SERVER_PORT} !^443$
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Кэширование сайта на сервере
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType application/javascript "access plus 7 days"
ExpiresByType text/javascript "access plus 7 days"
ExpiresByType text/css "access plus 7 days"
ExpiresByType image/gif "access plus 21 days"
ExpiresByType image/jpeg "access plus 21 days"
ExpiresByType image/png "access plus 21 days"
</IfModule>
