@import '~normalize.css/normalize';
@import 'utils/font';
@import 'utils/var';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stackAdd;
  background-color: $color-background;
}
// .header {
//   visibility: hidden;
//   position: absolute;
//   top: -100px;
// }
@import 'utils/grid';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/footer';